<%- include("../../partials/header.ejs") %>

<body>
    <%- include("../../partials/navbar.ejs") %>

    <div class="container">
        <hr>
        <h2>Categories</h2>

        <a href="/admin/category/new"><button class="btn btn-success">Create New Category</button></a>
        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((category) => { %>
                    <tr>
                        <td> <%= category.id %> </td>
                        <td> <%= category.title %> </td>
                        <td> <%= category.slug %> </td>
                        <td>
                            <a href="/admin/category/edit/<%= category.id %>"><button class="btn btn-warning">Edit</button></a>
                            <form action="/admin/category/delete" method="POST" style="display: inline" onsubmit="confirmDel(event, this)">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% })  %> 
            </tbody>
        </table>
    </div>
</body>

<%- include("../../partials/footer.ejs") %>

<script>
    function confirmDel(event, form) {
        event.preventDefault();
        
        const option = confirm("Delete Category?");

        if(option) {
            form.submit();
        }
    }
</script>