<%- include("../../partials/header.ejs") %> 

<body>
    <%- include("../../partials/navbar.ejs") %> 

    <div class="container">
        <hr>
        <h2>Articles</h2>
        <a href="/admin/article/new"><button class="btn btn-success">Create New Article: </button></a>
        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach((article) => { %>
                    <tr>
                        <td> <%= article.id %> </td>
                        <td> <%= article.title %> </td>
                        <td> <%= article.slug %> </td>
                        <td> <%= article.category.title %> </td>
                        <td>
                            <a href="/admin/article/edit/<%= article.id %> "><button class="btn btn-warning">Edit</button></a>
                            
                            <form action="/admin/article/delete" method="POST" style="display: inline;" onsubmit="confirmDel(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %> ">
                                <a href="/admin/article/delete"><button class="btn btn-danger">Delete</button></a>
                            </form>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>

    </div>

    <script>
        function confirmDel(event, form) {
            event.preventDefault();
            
            const option = confirm("Delete Article?");
    
            if(option) {
                form.submit();
            }
        }
    </script>
</body>

<%- include("../../partials/footer.ejs") %>