<%- include("../../partials/header.ejs") %> 

<body>
    <%- include("../../partials/navbar.ejs") %> 

    <div class="container">
        <hr>
        
        <div class="card">
            <div class="card-header">
                <h2>Article Registration: </h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/admin/article/save">
                    <input type="text" class="form-control" name="title" placeholder="Enter the article title">
                    <br />
                    <textarea name="body" class="form-control" placeholder="Type the article" id="article"></textarea>
                    <br />
                    <label>Category: </label>
                    <select name="category" class="form-control">
                        <option value="-1">Select the category</option>
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %> "><%= category.title %></option>
                        <% }) %> 
                    </select>
                    <br />
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include("../../partials/footer.ejs") %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
        ]
    });
</script>